.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.flexRowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.defaultuserInfoInput {
  padding: 0.5vh 0.5vw;
  margin: 0.5vh 0.5vw;
}