.Signup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    min-height: 90vh;
}

.signupContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;

    text-align: center;
}

.dobInputsContainer {
    padding: 0.75vh 0.75vw;
    margin: 0.5vh 0.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dobInputsSpan {
    margin: 0.25vh 0.75vw;
}

.signupBigEchoTitle {
    font-size: 20vh;
    margin: 2vh 10vw 2vh 5vw;
    font-weight: bolder;
    text-shadow: 4px 4px 0 rgba(255, 221, 0, 0.95),
                8px 8px 0 rgba(50, 50, 50, 0.95);
    color: rgba(50, 50, 50, 0.95);
}

.signinRedirectionDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    margin: 2vh 1vw;
}

.signInRedirectionSpan {
    margin: 0.25vh 0.75vw;
}

.userDobInput {
    width: 4vw;
    margin: 0 0.25vw;
    padding: 0.75vh 0.25vw;

    text-indent: 0px;
    text-align: center;
}

.sigupPageInputsDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 2vh 4vw;
}

.signupTitles {
    display: flex;
    flex-direction: column;
    margin: 2vh 0 4vh 0;
}

.signupPrimaryTitle {
    font-weight: bolder;
    font-size: 5vh;
    text-shadow: 0.25px 0.25px 0 rgba(255, 221, 0, 0.95);
    color: rgba(0, 0, 0, 0.95);
}

.signupSecondaryTitle {
    font-size: 1.5vh;
    font-weight: bold;
}

